<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main class="container form">
            <h2 class="form__title">Crear nuevo item</h2>
            <form class="create__form" action="/admin/create" method="POST" enctype="multipart/form-data">
                <div class="form__flex">
                    <div class="form__box--flex">
                        <label class="form__label" for="category">Categoría:</label>
                        <select class="form__select select__width--intermediate" name="category" id="category" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <% categories.forEach((category, i) => { %>
                                <option 
                                    <% if (error) { %>
                                        <% if (item.category === i +1) { 
                                            
                                            %>selected<% 
                                        } }%> 
                                    value="<%= category.category_id%>"><%= category.category_name%></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form__box--flex">
                        <label class="form__label" for="licence">Licencia:</label>
                        <select class="form__select select__width--intermediate" name="licence" id="licence" required>
                            <option value="" disabled selected hidden>Seleccionar</option>
                            <% licences.forEach((licence, i) => { %>
                                <option 
                                    <% if (error) { %>
                                        <% if (item.licence === i +1) { 
                                            
                                            %>selected<% 
                                        } }%> 
                                    value="<%= licence.licence_id%>"><%= licence.licence_name%></option>
                            <% }); %>
                        </select>
                    </div>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="name">Nombre del producto:</label>
                    <input class="form__input form__text" type="text" name="name" id="name" placeholder="Kakashi Hatake Shippuden Saga" size="25" required
                        <% if (error) { %>
                            value="<%= item.name %>" 
                        <% } %>
                    >
                </div>
                <div>
                    <textarea class="form__textarea form__text" name="description" id="description" cols="30" rows="10" placeholder="Descripción del producto" required><% if (error) { %>
<%= item.description %>
<% } %></textarea>
                </div>
                <div class="form__flex">
                    <div class="form__box--flex">
                        
                        <label class="form__label" for="sku">SKU:</label>
                        <input class="form__input form__text" type="text" name="sku" id="sku" placeholder="SSK111AB001" size="9" required
                            <% if (error) { %>
                                value="<%= item.sku %>" 
                            <% } %>
                        >
                    </div>
                    <div class="form__box--flex">
                        <label class="form__label" for="price">Precio:</label>
                        <div class="form__input--wrapper form__text"><span>$</span><input class="form__input form__text" type="text" name="price" id="price" data-type="currency" placeholder="0.000,00" size="6"
                            <% if (error) { %>
                                value="<%= item.price %>" 
                            <% } %>
                        ></div>
                    </div>
                    <div class="form__box--flex">
                        <label class="form__label" for="stock">Stock:</label>
                        <div class="form__input--wrapper form__text"><input class="form__input form__text form__small" type="text" name="stock" id="stock" placeholder="0" size="2" required
                            <% if (error) { %>
                                value="<%= item.stock %>" 
                            <% } %>
                        ><span>unidades</span></div>
                    </div>
                </div>
                <div class="form__flex">
                    <div class="form__box--flex">
                        <label class="form__label" for="discount">Descuento:</label>
                        <div class="form__input--wrapper form__text">
                            <input class="form__input form__text form__small" type="text" name="discount" id="discount" placeholder="0" size="2" required
                                <% if (error) { %>
                                    value="<%= item.discount %>" 
                                <% } %>
                            >
                            <span>%</span>
                        </div>
                    </div>
                    <div class="form__box--flex">
                        <label class="form__label" for="dues">Cuotas:</label>
                        <select class="form__select select__width--large" name="dues" id="dues">
                            <option <% if (item.dues === 0) { %> selected <% } %> value="0">Sin cuotas</option>
                            <option <% if (item.dues === 0) { %> selected <% } %> value="3">3 cuotas s/ interés</option>
                            <option <% if (item.dues === 0) { %> selected <% } %> value="6">6 cuotas s/ interés</option>
                            <option <% if (item.dues === 0) { %> selected <% } %> value="9">9 cuotas s/ interés</option>
                            <option <% if (item.dues === 0) { %> selected <% } %> value="12">12 cuotas s/ interés</option>
                            <option <% if (item.dues === 0) { %> selected <% } %> value="18">18 cuotas s/ interés</option>
                            <option <% if (item.dues === 0) { %> selected <% } %> value="24">24 cuotas s/ interés</option>
                        </select>
                    </div>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="image-front">Producto:</label>
                    <input type="file" name="image-front" id="image-front" required>
                </div>
                <div class="form__box--flex">
                    <label class="form__label" for="image-back">Caja:</label>
                    <input type="file" name="image-back" id="image-back" required>
                </div>

                <div class="form__flex">
                    <input class="form__btn form__btn-color" type="submit" value="Agregar Producto">
                    <input class="form__btn form__btn-color" type="reset" value="Limpiar">
                </div>
            </form>
        </main>

        <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/js/alertas.js"></script>
        <script src="/js/validator.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>

        <% if (error) { %>
            <script type="text/javascript">
                mostrarAlertaError('El SKU "<%= item.sku %>" ya existe ');
            </script>
        <% } %>
    </body>
</html>